/* reset des propriétés html par défaut */
*{
	padding:0;/*marge interne*/
	margin:0;/*marge externe*/
	box-sizing:border-box;
	outline:none;/*pas d'effet d'activation liés aux navigateurs*/
}

:root{
	--largAside: 200px;
	--hautBarres: 80px;
	--ombre: rgba(0, 0, 0, .5);
	--ombre2: rgba(0, 0, 0, .25);
	--gris1: hsla(60, 18%, 70%, 1);
	--gris2: hsla(60, 18%, 80%, 1);
	--gris3: hsla(60, 18%, 95%, 1);
	--mauve: hsla(269, 45%, 37%, 1);
	--mauveLight: hsl(269, 45%, 67%);
	--orange: hsl(16, 100%, 60%);
	--orangePale: hsl(16, 100%, 90%);
	--vert: hsl(110, 100%, 60%);
	--bleu: hsl(210, 80%, 50%);
	--bleuLight: hsl(210, 80%, 80%);
	--vertPale: hsl(110, 100%, 90%);
}

body{
	font-family: Arial, Helvetica, sans-serif;
	height: 100vh;
	overflow: hidden;
}

#zone_gauche{
	position: fixed;
	top: 0;
	left: 0;
	min-width: var(--largAside);
	height: 100vh;
	padding: 20px;
	z-index: 100;
	background: var(--gris1);
	display: flex;
	justify-content: center;
	align-items: center;
}

#menu_back ul {
	list-style-type: none;
}

#menu_back a {
	position: relative;
	display: inline-block;
	font-size: .625em;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	font-weight: 400;
	color: #fff;
	padding: 12px 8px;
	margin: 5px auto;
	width: 100%;
	background-color: var(--ombre2);
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	border-bottom-left-radius: 12px;
}

#menu_back a:hover{
	background-color: var(--ombre);
}

#menu_back li.actif a{
	background-color: var(--ombre);
}

#menu_back li.actif a::after {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	right: -20px;
	bottom: 0;
	background-image: radial-gradient(circle at 100% 0, transparent 20px, var(--ombre) 21px);

	/* transform: translateY(-50%);
	border-left: 8px solid  var(--ombre);
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent; */
}

#menu_back li:first-of-type a{
	background-color: seagreen;
	border-top-left-radius: 0;
	border-bottom-right-radius: 12px;
}

#menu_back li:first-of-type a::after {
	content: "";
	position: absolute;
	background-image: radial-gradient(circle at 0 100%, transparent 20px, seagreen 21px);
	width: 20px;
	height: 20px;
	left: -20px;
	top: 0;
}

#zone_droite{
	position: absolute;
	top: 0;
	left: var(--largAside);
	width: calc(100vw - var(--largAside));
	height: 100vh;
	/* display: flex;
	flex-direction: column; */
}

#header_back{
	position: fixed;
	height: var(--hautBarres);
	width: 100%;
	top: 0;
	padding: 0 30px;
	z-index: 10;
	background: var(--gris2);
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--mauve);
}

#header_back h1{
	font-size: 36px;
	width: 50%;
}

#header_back div{
	display: flex;
	align-items: center;
	width: 50%;
}

#header_back a{
	display: inline-block;
	text-decoration: none;
}

#header_back .dashicons{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 1.5em;
	width: 1.5em;
	border: 2px solid var(--mauve);
	color: var(--mauve);
	background-color: var(--mauveLight);
	border-radius: 50%;
	transition: all .5s ease-in-out;
}
#header_back .dashicons:hover{
	color: #fff;
	background-color: var(--mauve);
	transform: rotate(-90deg);
}


#header_back .user{
	color: var(--mauveLight);
	font-weight: 700;
	display: inline-block;
	margin: 0 1em;
}

#footer_back{
	position: fixed;
	width: 100%;
	height: var(--hautBarres);
	bottom: 0;
	z-index: 20;
	background: var(--gris2);
}

#contenu_back{
	position: absolute;
	top: var(--hautBarres);
	left: 0;
	height: calc(100vh - var(--hautBarres)*2);
	width: 100%;
	padding: 36px 24px;
	background: var(--gris3);
	box-shadow: 0 0 8px var(--ombre) inset;
	overflow: auto;
}

main #contenu_back p{
	margin-bottom: 1em;
}

#menu_back .notif{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 2em;
	height: 2em;
	top: -1em;
	left: -1em;
	border-radius: 50%;
	border: 2px solid;
	border-color: peru;
	color: #6e167d;
	background-image: radial-gradient(  rgb(240, 198, 185) 30%,sandybrown);
	font-size: 14px;
	font-weight: bold;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, .45);
}

/* ---------------------------------------------------------- Formulaire */

#contenu_back form{
	width: 80%;
	margin: auto;
}

::placeholder{
	color: var(--gris1);
}

:placeholder-shown{
	background-color: var(--gris3);
}

#contenu_back input,
#contenu_back textarea{
	display: block;
	padding: 8px 15px;
	border: none;
	border-radius: 4px;
	margin-bottom: 15px;
	font-family: inherit;
	font-size: .8em;
	width: 100%;
	box-shadow: 0 0 4px rgba(0,0,0,.25) inset;
}

#contenu_back input::after,
#contenu_back textarea::after{
	content: "Requis";
	font-size: 10px;
	background-color: red;
}

#contenu_back textarea{
	font-size: 13.33px;
	min-height: 150px;
	resize: vertical;
	max-height: 200px;
}
#contenu_back input:focus,
#contenu_back textarea:focus{
	background-color: #fff;
}

#contenu_back input[type=submit]{
	width: auto;
	text-transform: uppercase;
	margin-left: 0!important;
}

/* -------------------------------------------------------- TABLEAU résultat */

.tab_resultats,
.tab_resultats td,
.tab_resultats th{
	border: 1px solid #d3d3d3;
}

.tab_resultats{
	border-collapse: collapse;
	width: 100%;
	margin: 20px 0;
}

.tab_resultats td,
.tab_resultats th{
	padding: 5px;
}

.tab_resultats tr:hover{
	background-color: var(--bleuLight);
}

.tab_resultats tr:nth-of-type(1):hover{
	background-color: inherit;
}

.tab_resultats tr td:nth-of-type(3),
.tab_resultats tr td:nth-of-type(4),
.tab_resultats tr td:nth-of-type(5){
	width: 60px;
	text-align: center;
}

.tab_resultats tr[id^="message"] td{
	display: none;
}
.tab_resultats span{
	text-decoration: none;
}

.tab_resultats a{
	color: black;
	text-decoration: none;
}
/* --------------------- */
.ouinon{
	display: flex;
	align-items: center;
}

.ouinon a,
a.ouinon,
#contenu_back input[type=submit]{
	display: block;
	padding: 6px 8px;
	margin: 0 10px;
	text-decoration: none;
	color: white;
	font-size: .8em;
	border-radius: 5px;
	background-color: var(--bleu);
}

.ouinon a:hover,
a.ouinon:hover,
#contenu_back input[type=submit]:hover{
	background-color: #000;
}

.non_lu{
	font-weight: bold;
}

.lu{
	font-weight: normal;
	color: #c2c2c2;
}


.tab_resultats td[colspan="3"]{
	display: none;
}

.tab_resultats td[colspan="3"].open{
	display: table-cell;
	background-color: #efefe5;
}

/* ----------------------------------------FORM Compte */
#form_compte label{
	display: block;
}

#form_compte label.pas_ok + input {
	border: 2px solid var(--orange);
	background-color: var(--orangePale);
}

#form_compte span.pas_ok + select {
	background-color: var(--orangePale);
}

#form_compte label.pas_ok,
#form_compte span.pas_ok{
	color: var(--orange);
	font-weight: 700;
}

.tab_resultats .dashicons{
	color: var(--bleu);
}

.tab_resultats .dashicons:hover{
	color: #000;
}

p.ok{
	color: var(--vert);
	font-weight: 700;
}

.alerte{
	width: 80%;
	min-height: 3em;
	padding: .8em .4em;
	margin: .5em auto;
	border-radius: 0.25em;
	border-width: 4px;
	border-style: solid;
	box-shadow: 2px 2px 4px var(--ombre);
}

.alerte.pas_ok{
	color: var(--orange);
	border-color: var(--orange);
	background-color: var(--orangePale);
}

.alerte.ouinon{
	border-color: var(--bleu);
	background-color: #fff;
}