/* reset des propriétés html par défaut */
* {
	padding: 0;
	/*marge interne*/
	margin: 0;
	/*marge externe*/
	box-sizing: border-box;
	outline: none;
	/*pas d'effet d'activation liés aux navigateurs*/
}

:root {
	--largAside: 200px;
	--hautBarres: 80px;

	--ombre: rgba(0, 0, 0, .5);
	--ombre2: rgba(0, 0, 0, .25);
	--ombre3: rgba(0, 0, 0, .125);
	
	--base-gris: 60, 18%;
	--gris1: hsl(var(--base-gris), 70%);
	--gris2: hsl(var(--base-gris), 80%);
	--gris3: hsl(var(--base-gris), 95%);
	
	--base-mauve: 269, 45%;
	--mauve: hsl(var(--base-mauve), 37%);
	--mauveLight: hsl(var(--base-mauve), 67%);
	
	--base-orange: 16, 100%;
	--orange: hsl(var(--base-orange), 60%);
	--orangePale: hsl(var(--base-orange), 90%);
	
	--base-vert: 110, 100%;
	--vert: hsl(var(--base-vert), 60%);
	--vertPale: hsl(var(--base-vert), 90%);
	
	--base-bleu: 210, 80%;
	--bleu: hsl(var(--base-bleu), 50%);
	--bleuLight: hsl(var(--base-bleu), 80%);

	--rebond: cubic-bezier(0.5, 0.5, 0.7, 1.8);
}

body {
	font-family: Arial, Helvetica, sans-serif;
	height: 100vh;
	overflow: hidden;
}

.flex{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.flex-center{
	display: flex;
	justify-content: center;
	align-items: center;
}

#zone_gauche {
	position: fixed;
	top: 0;
	left: 0;
	min-width: var(--largAside);
	height: 100vh;
	padding: 20px;
	z-index: 100;
	background: var(--gris1);
}

#menu_back ul {
	list-style-type: none;
}

#menu_back a {
	position: relative;
	display: inline-block;
	font-size: .625em;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	font-weight: 400;
	color: #fff;
	padding: 12px 8px;
	margin: 5px auto;
	width: 100%;
	background-color: var(--ombre2);
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	border-bottom-left-radius: 12px;
}

#menu_back a:hover {
	background-color: var(--ombre);
}

#menu_back li.actif a {
	background-color: var(--ombre);
}

#menu_back li.actif a::after {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	right: -20px;
	bottom: 0;
	background-image: radial-gradient(circle at 100% 0, transparent 20px, var(--ombre) 21px);
}

#menu_back li:first-of-type a {
	background-color: hsl(240, 18%, 70%);
	border-top-left-radius: 0;
	border-bottom-right-radius: 12px;
}

#menu_back li:first-of-type a::after {
	content: "";
	position: absolute;
	background-image: radial-gradient(circle at 0 100%, transparent 20px, hsl(240, 18%, 70%) 21px);
	width: 20px;
	height: 20px;
	left: -20px;
	top: 0;
}

#zone_droite {
	position: absolute;
	top: 0;
	left: var(--largAside);
	width: calc(100vw - var(--largAside));
	height: 100vh;
}

#header_back {
	position: fixed;
	height: var(--hautBarres);
	width: calc(100% - var(--largAside));
	top: 0;
	padding: 0 24px;
	z-index: 10;
	background: var(--gris2);
	color: var(--mauve);
}

#header_back h1 {
	font-size: 36px;
	flex: 1;
}

#header_back a {
	display: block;
	margin: 0 1em;
	text-decoration: none;
}

#header_back span:not(.avatar).dashicons {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 1.5em;
	width: 1.5em;
	border: 2px solid var(--mauve);
	color: var(--mauve);
	background-color: var(--mauveLight);
	border-radius: 50%;
	transition: transform .25s var(--rebond);
}

#header_back span:not(.avatar).dashicons:hover {
	color: #fff;
	background-color: var(--mauve);
	transform: rotate(-90deg);
}

#header_back img.avatar,
#header_back span.avatar{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin: 0 .5em;
	border: 2px solid var(--mauve);

}

#header_back span.avatar{
	font-size: 2em;
}

#header_back .user {
	color: var(--mauveLight);
	font-weight: 700;
	margin: 0 1em;
}

#header_back .user div{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

#header_back .user_name,
#header_back .user_status{
	display: block;
}

#header_back .user_name{
	cursor: pointer;
}

#header_back .user_status{
	transform: scaleY(0);
	transform-origin: top;
	opacity: 0;
	transition: transform .25s var(--rebond);
}
#header_back .user_name:hover + .user_status{
	transform: scale(1);
	opacity: 1;
}
/* 
#footer_back {
	position: fixed;
	width: 100%;
	height: var(--hautBarres);
	bottom: 0;
	z-index: 20;
	background: var(--gris2);
} */

#contenu_back {
	position: absolute;
	top: var(--hautBarres);
	left: 0;
	height: calc(100vh - var(--hautBarres));
	width: 100%;
	padding: 36px 24px;
	background: var(--gris3);
	box-shadow: 0 0 8px var(--ombre) inset;
	overflow: auto;
}

main #contenu_back p {
	margin-bottom: 1em;
}

#menu_back .notif {
	position: absolute;
	width: 2em;
	height: 2em;
	top: -1em;
	left: -1em;
	border-radius: 50%;
	border: 2px solid;
	border-color: peru;
	color: #6e167d;
	background-image: radial-gradient(rgb(240, 198, 185) 30%, sandybrown);
	font-size: 14px;
	font-weight: bold;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, .45);
}

/* ---------------------------------------------------------- Formulaire */

#contenu_back form {
	width: calc(80% + 1em);
	max-width: 800px;
	margin: auto;
	padding: 1em;
	background-color: var(--gris3);
	border-radius: 4px;
	transition: transform .25s var(--rebond);
}

#contenu_back form:focus-within {
	transform: scale(1.1);
	box-shadow: 0 0 6px var(--ombre2);
}

::placeholder {
	color: var(--gris1);
}

:placeholder-shown {
	background-color: var(--gris3);
}

#contenu_back input,
#contenu_back textarea,
#contenu_back select{
	display: inline-block;
	padding: 8px 15px;
	border: none;
	border-radius: 4px;
	margin-bottom: 1em;
	font-family: inherit;
	font-size: .8em;
	width: 100%;
	box-shadow: 0 0 4px rgba(0, 0, 0, .25) inset;
}
#contenu_back select,
#contenu_back .inputFile + label{
	border: 1px solid var(--gris1);
	border-radius: 4px;
}

#contenu_back textarea {
	font-size: 13.33px;
	min-height: 100px;
	resize: vertical;
	max-height: 180px;
}

#contenu_back input:focus,
#contenu_back textarea:focus {
	background-color: #fff;
}

#contenu_back input[type=submit] {
	width: auto;
	text-transform: uppercase;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	border-radius: 0;
}

#contenu_back input[type=date] {
	width: 14em;
	height: 2.5rem;
	text-transform: uppercase;
	text-align: center;
}

#contenu_back select{
	background-color: var(--gris2);
	color: var(--bleu);
	height: 2.5rem;
	font-weight: 700;
	width: max-content;
	box-shadow: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	padding-right: 2.6rem;
	box-shadow: 0px 0px 2px rgba(0,0,0,.25);
	cursor: pointer;
}

#contenu_back span.custom-arrow{
	position: absolute;
	width: 2rem;
	height: 2.5rem;
	top: 0;
	right: 0;
	background-color: var(--gris1);
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	pointer-events: none;
}

#contenu_back span.custom-arrow::before{
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-top: 8px solid white;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
}

/* -------------------------------------------------------- TABLEAU résultat */

.tab_resultats,
.tab_resultats td,
.tab_resultats th {
	border: 1px solid #d3d3d3;
}

.tab_resultats {
	border-collapse: collapse;
	width: 100%;
	max-width: 1000px;
	margin: 1em auto;
}

.tab_resultats td,
.tab_resultats th {
	padding: 5px;
}
.tab_resultats th {
	text-align: left;
}
.tab_resultats th.small{
	width: 10ch;	
}
.tab_resultats th.medium{
	width: 20ch;	
}
.tab_resultats th.large{
	width: auto;	
}

.tab_resultats tr:nth-child(even) td{
	background-color: var(--ombre3);
}

.tab_resultats tr[id^="message"] td {
	display: none;
}

.tab_resultats span {
	text-decoration: none;
}

.tab_resultats a {
	color: black;
	text-decoration: none;
}

.tab_resultats img {
	display: block;
	margin: 0 auto;
	height: 40px;
	border-radius: 4px;
}

.tab_resultats td:not(.miniature) img:hover,
.tab_resultats td.miniature figure:hover {
	transform: scale(2);
	transition: transform .25s var(--rebond);
	box-shadow: 2px 2px 4px var(--ombre2);
	z-index: 10;
}

#tab_comptes tr > :nth-of-type(4),
#tab_comptes tr > :nth-of-type(5){
	text-align: center;
}
#tab_menus tr > :nth-of-type(1),
#tab_menus tr > :nth-of-type(4){
	text-align: center;
}
#tab_articles tr > :nth-of-type(1),
#tab_articles tr > :nth-of-type(5),
#tab_articles tr > :nth-of-type(6){
	text-align: center;
}
#tab_articles td {
	vertical-align: top;
}
#tab_articles tr > :nth-of-type(2){
	font-weight: 700;
}
#tab_articles tr > :nth-of-type(4){
	font-size: .9em;
	font-style: oblique;
}
#tab_sliders tr > :nth-of-type(1),
#tab_sliders tr > :nth-of-type(3),
#tab_sliders tr > :nth-of-type(4){
	text-align: center;
}


/* --------------------- */
.ouinon a,
a.ouinon,
#contenu_back input[type=submit] {
	display: block;
	padding: 6px 8px;
	margin-bottom: 1em;
	text-decoration: none;
	color: white;
	font-size: .8em;
	border-radius: 5px;
	background-color: var(--bleu);
}

.ouinon a:hover,
a.ouinon:hover,
#contenu_back input[type=submit]:hover {
	background-color: #000;
}

.ouinon a {
	margin: 0 10px;
}

.ouinon a:first-of-type {
	margin-left: auto;
}

.non_lu {
	font-weight: bold;
}

.lu {
	font-weight: normal;
	color: #c2c2c2;
}


.tab_resultats td[colspan="3"] {
	display: none;
}

.tab_resultats td[colspan="3"].open {
	display: table-cell;
	background-color: #efefe5;
}

/* ----------------------------------------FORM */
form label {
	display: inline-block;
	width: max-content;
	position: relative;
}

.flex label{
	display: block;
}
/*
	http://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/
	https://css-tricks.com/comparing-various-ways-to-hide-things-in-css/
*/
.inputFile{
	width: 1px!important;
	height: 1px!important;
	position: absolute;
	overflow: hidden;
	white-space: nowrap;
	clip: rect(0,0,0,0);
	clip-path: inset(50%);
	z-index: -1;
	padding: 0 !important;
	margin-bottom: 0 !important;
}

.inputFile + label {
	background-color: var(--gris2);
	display: inline-flex!important;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding-left: 2.6rem;
	padding-right: .6em;
	margin-bottom: 1em;
	width: max-content;
	font-weight: 700;
	font-size: .8em;
	color: var(--bleu);
	height: 2.5rem;
	box-shadow: 0px 0px 2px rgba(0,0,0,.25);
	cursor: pointer;
}

.inputFile:focus + label,
.inputFile + label:hover {
	transform: scale(1.05);
	box-shadow: 0px 0px 4px rgba(0,0,0,.25);
}

.inputFile + label .dashicons{
	position: absolute;
	width: 2rem;
	height: calc(2.5rem - 1px);;
	left: 0;
	top: 0;
	color: white;
	background-color: var(--gris1);
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	display: flex!important;
}

.inputFile + label .dashicons:before{
	font-size: 28px;
}

#form_compte label.pas_ok+input {
	border: 2px solid var(--orange);
	background-color: var(--orangePale);
}

#form_compte span.pas_ok+select {
	background-color: var(--orangePale);
}

#form_compte label.pas_ok,
#form_compte span.pas_ok {
	color: var(--orange);
	font-weight: 700;
}

.tab_resultats .dashicons {
	color: var(--bleu);
}

.tab_resultats .dashicons:hover {
	color: #000;
}

p.ok {
	color: var(--vert);
	font-weight: 700;
}

.alerte {
	position: relative;
	width: calc(80% - 1em);
	min-height: 3em;
	padding: .8em .4em;
	margin: .5em auto;
	border-radius: 0.25em;
	border-width: 4px;
	border-style: solid;
	box-shadow: 2px 2px 4px var(--ombre),
				1px 1px 1px var(--ombre2) inset;
	background-color: #fff;
}

.alerte .dashicons{
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}

.alerte.ok {
	color: var(--vert);
	border-color: var(--vert);
}

.alerte.pas_ok {
	color: var(--orange);
	border-color: var(--orange);
}

.alerte.ouinon {
	border-color: var(--bleu);
	flex-wrap: nowrap;
}

/* gestion avatar dans le tableau des comptes */
.miniature figure{
	position: relative;
	width: min-content;
	height: min-content;
	margin: 0 auto;
}

.miniature figure figcaption{
	position: absolute;
	right: 0;
	top: 0;
	transform: translate(25%, -25%);
}

.miniature figcaption span{
	font-size: .8em;
	width: auto;
	height: auto;
	text-shadow: 1px 1px 1px var(--ombre);
}

.miniature .dashicons-hidden,
.miniature .dashicons-hidden:hover{
	width: 100%;
	height: 100%;
	color: var(--ombre2);
	font-size: 2.5rem;
}
