.sss {
    height: 0;
    margin: 0; 
    padding-top:50% !important;
    padding-bottom:0 !important;
	position: relative;
	display: block;
}

.ssslide {
	width: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

.sssnext, .sssprev {
	width: 65px;
	height: 100%;
	margin: 0;
	position: absolute;
	top: 0;
	z-index: 10;
	background: url('../images/arr.png') no-repeat;
	filter: drop-shadow(0 0 4px rgba(0,0,0,.5));
}

.sssprev {
	left: 3%;
	background-position: 0 50%;
}

.sssnext {
	right: 3%;
	background-position: -65px 50%;
}

.sssprev:hover, .sssnext:hover {
	cursor: pointer;
}
